@import url(./css/cabecalho.css);
@import url(./css/destaque.css);
@import url(./css/servicos.css);
@import url(./css/planos.css);
@import url(./css/ofertas.css);
@import url(./css/parceiros.css);
@import url(./css/newsletter.css);

:root {

      /* Cores */
    --cor-neutra-cinza-escuro: #444444;
    --cor-neutra-cinza-medio: #B9B9B9;
    --cor-neutra-branco: #fff;

    --cor-primaria-coral: #EE6451;
    --cor-primaria-ocre: #C13724;

    --cor-secundaria-bege: #FFF5EB;
    --cor-secundaria-bege-escuro: #F5E6D6;

    --cor-terciaria-verde: #CBDA74;
    --cor-terciaria-verde-escuro: #a2b72b;
    --cor-terciaria-verde-claro: #EFF2E1;

    --cor-primaria-box-shadow: rgba(193, 55, 36, 0.4);
    --cor-secundaria-box-shadow: rgba(162, 183, 43, 0.4);

     /* Tipografia */
    --font-sigmar: "Sigmar", sans-serif;
    --font-inter: "Inter", sans-serif;

    /* Tamanhos de fonte */
    --font-size-xxxl: 4.5rem;
    --font-size-xxl: 2.625rem;
    --font-size-xl: 2.438rem;
    --font-size-l: 1.938rem;
    --font-size-xm: 1.563rem;
    --font-size-m: 1.25rem;
    --font-size-b: 1rem;
    --font-size-s: 0.813rem;

    /* Altura da linhas */
    --line-height: 120%;

    /* Espaçamentos */
    --padding-xs: 0.25rem;
    --padding-s: 0.5rem;
    --padding-m: 1rem;
    --padding-l: 1.5rem;
    --padding-xl: 2rem;
    --padding-xxl: 2.5rem;
    --padding-3xl: 3.75rem;
    --padding-4xl: 4rem;
    --padding-5xl: 4.75rem;

    --gap-xs: 0.25rem;
    --gap-s: 0.5rem;
    --gap-m: 1rem;
    --gap-l: 1.5rem;
    --gap-xl: 2rem;
    --gap-xxl: 2.5rem;
    --gap-xxxl: 6rem;
}

h1, h2, h3, h4, h5 {
    font-family: var(--font-sigmar);
    line-height: var(--line-height);
}

h1 {
    font-size: var(--font-size-xxxl);
}

h2 {
    font-size: var(--font-size-xxl);
}

h3 {
    font-size: var(--font-size-xl);
}

h4 {
    font-size: var(--font-size-l);
}

h5 {
    font-size: var(--font-size-xm);
}

body {
    font-family: var(--font-inter);
    color: var(--cor-neutra-cinza-escuro);
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    background-color: var(--cor-neutra-branco);

    .container {
        width: 1200px;
    }
}